.login-page {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 70vmin;
    height: 70vmin;
    background-color: var(--form-color);
    border-radius: 2rem;
    border-color: var(--foreground-transparent);
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.login-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.form-input {
    width: 100%;
}

.form-input label {
    text-align: left;
}

.form-input input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 1rem;
}