.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.expired-session {
    margin-top: 2rem;
    color: #ff0000;
    font-size: large;
    font-weight: bold;
}