.connecting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.interview-main-div {
    display: flex;
    width: 100%;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.webcam-section {
    flex: 5;
    width: 100%;
    background-color: #000000;
    overflow: hidden;
}

.webcam-section video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.instruction-section {
    flex: 1;
    padding: 1rem 0;
    font-size: x-large;
}

.feedback-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 1rem;
}

.score-field {
    display: inline;
    font-size: large;
    font-weight: bold;
    padding: 1rem;
    margin: 0 1rem;
    flex: 1;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: var(--foreground-color);
    max-width: 500px;

    transition: border-color 100ms ease;
}

.score-field div {
    font-size: larger;
    font-weight: normal;
    transition: text-shadow 100ms ease;
}

.score-field.good {
    border-color: #14973b;
}

.score-field.good div {
    text-shadow: #14973b 2px 0 10px;
}

.score-field.average {
    border-color: #e09200;
}

.score-field.average div {
    text-shadow: #e09200 2px 0 10px;
}

.score-field.bad {
    border-color: #c21111;
}

.score-field.bad div {
    text-shadow: #c21111 2px 0 10px;
}

.score-field.error {
    border-color: var(--error-color);
    color: var(--error-color);
}

.buttons-section {
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}