.interview-setup-main-div {
    padding: 0 1rem;
    width: 100%;
    height: 90vh;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.webcam-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.webcam-bg {
    position: relative;
    width: 80%;
    height: 80%;
    overflow: hidden;
}

.webcam-bg video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}