.interview-results-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: large;
}

.interview-results-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--form-color);
    border: .1rem solid var(--foreground-color);
    border-radius: 1rem;
    box-shadow: 0 0 5rem 1rem var(--form-shadow-color);
    padding: 2rem 2rem;

    width: 50%;
    max-width: 70vh;

    margin: 4rem 1rem;
}

.score-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.score-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.score-display .score-title {
    font-size: x-large;
    font-weight: bolder;
    text-decoration: underline;
}

.score-display .score-value {
    font-size: x-large;
    font-weight: bold;
    margin: 1rem 0;
}

.total-score {
    width: 100%;
}

.suggestion-section {
    margin-top: 1rem;
}

.good {
    text-shadow: 1px 0px 10px #109410;
}

.average {
    text-shadow: 1px 0px 10px #ffa000;
}

.bad {
    text-shadow: 1px 0px 10px #a00000;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.question-table th,
.question-table td {
  border: 1px solid var(--foreground-color);
  padding: 8px 12px;
  text-align: left;
}

.question-table th {
  background-color: var(--foreground-color);
  font-weight: 600;
  color: var(--secondary-text-color);
}

.question-table tr:nth-child(even) {
  background-color: var(--table-alternate);
}
