.interview-main-div {
    display: flex;
    width: 100%;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.webcam-section {
    flex: 5;
    width: 100%;
    background-color: #000000;
    overflow: hidden;
}

.webcam-section video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.instruction-section {
    flex: 1;
    padding: 1rem 0;
}

.feedback-section {
    flex: 1;
    padding: 1rem 0;
}