.form-field {
    margin-bottom: 1rem;
    width: 100%;
    font-weight: bold;
}

.form-field label {
    display: block;
}

.form-field input {
    display: block;
    width: 100%;
    padding: 1rem 1rem;
    box-sizing: border-box;
    font-size: large;
}

.form-field-error {
    font-weight: bold;
    color: var(--error-color);
    padding: 1rem 1rem;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--error-color);
    border-width: 0.1rem;
}