.header-container {
    width: 100%;
    height: 10vh;
    padding: 0 2rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--foreground-color);
    box-shadow: .0rem .25rem 1rem var(--header-shadow);
}

.header-logo-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-logo-link {
    height: 60%;
    display: flex;
    align-items: center;
}

.header-logo {
    height: 100%;
    width: auto;
}

.header-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    flex: 1;
}