.error-message {
    color: var(--secondary-text-color);
    font-weight: bold;
    width: 75%;
    padding: 1rem 0;
    background-color: var(--error-color);
    border-radius: 1rem;
}

/* Rendered differently in dark mode. */
.dark .error-message {
    color: var(--error-color);
    background-color: #00000000;
    border-style: solid;
    border-color: var(--error-color);
}