.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 70vmin;
    background-color: var(--form-color);
    border-radius: 2rem;
    border-color: var(--foreground-transparent);
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.form-field {
    width: 100%;
    margin-bottom: 1.5rem;
}

.form-field label {
    display: block;
    text-align: left;
}

.form-field input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--field-color);
    color: var(--primary-text-color);
    border-style: solid;
    border-color: var(--foreground-transparent);
}

.form-submit {
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: var(--foreground-color);
    color: var(--secondary-text-color);
    border: none;
    transition: background-color 50ms linear, transform 50ms linear;
}

.form-submit:hover {
    background-color: var(--foreground-hover);
}

.form-submit:active {
    transform: scale(.9);
}