.account-settings-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    opacity: 0;
    animation: fadeIn 600ms ease forwards;
}

.settings-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--form-color);
    border: .1rem solid var(--foreground-color);
    border-radius: 1rem;
    box-shadow: 0 0 5rem 1rem var(--form-shadow-color);
    padding: 2rem 2rem;

    width: 50%;
    max-width: 60vh;

    transition: width 150ms ease, border-color 150ms ease;
}

.settings-window form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.settings-window.delete-account {
    width: 40%;
    border-color: var(--error-color);
}

.settings-button.button {
    margin-bottom: 1rem;
    min-width: 50%;
}