.interview-history-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    animation: fadeIn 600ms ease forwards;
}

.interview-history-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--form-color);
    border: .1rem solid var(--foreground-color);
    border-radius: 1rem;
    box-shadow: 0 0 5rem 1rem var(--form-shadow-color);
    padding: 2rem 2rem;

    width: 50%;
    max-width: 70vh;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.history-table {
    width: 100%;
    font-size: large;
}

.history-table th,
.history-table td {
  border: 1px solid var(--foreground-color);
  padding: 8px 12px;
  text-align: left;
}

.history-table th {
  background-color: var(--foreground-color);
  font-weight: 600;
  color: var(--secondary-text-color);
}

.history-table tr:nth-child(even) {
  background-color: var(--table-alternate);
}

.options-block .button.primary, .options-block .button.danger {
    padding: .5rem;
    border-radius: .5rem;
    margin-right: .5rem;
}

.page-navigator {
    margin-bottom: 2rem;
}

.page-navigator .button.primary {
    padding-top: .35rem;
    padding-bottom: .35rem;
    margin-left: 1rem;
    margin-right: 1rem;
}