.App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    transition: background-color 250ms ease-in-out;
}