body {
    margin: 0;
    --background-color: #f6f6f6;
    --foreground-color: #0055ff;
    --primary-text-color: #0a0a0a;
    --secondary-text-color: #ffffff;
    --toggle-bg: #f0eb9d;
    --toggle-fg: #ffd000;
    --header-shadow: #2f2f2f;
}

body.dark {
    --background-color: #121212;
    --foreground-color: #3700b3;
    --primary-text-color: #f6f6f6;
    --secondary-text-color: #0a0a0a;
    --toggle-bg: #283452;
    --toggle-fg: #00a6ff;
    --header-shadow: #0a0a0a;
}