body {
    margin: 0;
    --background-color: #f6f6f6;
    --form-color: #ffffff;
    --field-color: #ffffff;
    --foreground-color: #0055ff;
    --foreground-hover: #0044cd;
    --foreground-transparent: #0055ff40;
    --primary-text-color: #0a0a0a;
    --secondary-text-color: #ffffff;
    --toggle-bg: #f0eb9d;
    --toggle-fg: #ffd000;
    --header-shadow: #2f2f2f;
    --link-color: #0000EE;
    --link-visited-color: #551A8B;
}

body.dark {
    --background-color: #121212;
    --form-color: #1c1c1c;
    --field-color: #515151;
    --foreground-color: #3700b3;
    --foreground-transparent: #3700b340;
    --foreground-hover: #280086;
    --primary-text-color: #f6f6f6;
    --secondary-text-color: #ffffff;
    --toggle-bg: #283452;
    --toggle-fg: #00a6ff;
    --header-shadow: #0a0a0a;
    --link-color: #386891;
    --link-visited-color: #915938;
}

a { color: var(--link-color); }
a:visited { color: var(--link-visited-color); }