html, body, .root {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    --background-color: #f6f6f6;
    --topnav-color: #002c83;
    --form-color: #ffffff;
    --form-shadow-color: #d0d0d0;
    --field-color: #ffffff;
    --foreground-color: #0055ff;
    --foreground-hover: #0044cd;
    --foreground-transparent: #0055ff40;
    --primary-text-color: #0a0a0a;
    --secondary-text-color: #ffffff;
    --header-shadow: #2f2f2f;
    --link-color: #0000EE;
    --link-visited-color: #551A8B;
    --error-color: #ff0000;

    --table-alternate: #d9e6ff;

    --primary-btn-color: #4784ff;
    --primary-btn-hover-color: #0055ff;
    --primary-btn-active-color: #0043ca;
    --primary-btn-disabled-color: #54525a;
    --primary-btn-text-color: #ffffff;

    --danger-btn-color: #d50000;
    --danger-btn-hover-color: #af0000;
    --danger-btn-active-color: #dd4c4c;
    --danger-btn-disabled-color: #4d1414;
    --danger-btn-text-color: #ffffff;

    --success-btn-color: #6df56d;
    --success-btn-hover-color: #43da43;
    --success-btn-active-color: #459245;
    --success-btn-disabled-color: #232e23;
    --success-btn-text-color: #000000;
    --success-btn-disabled-text-color: #ffffff;

    background: radial-gradient(circle at center, #ffffff 0%, #f6f6f6 100%);
    font-family: 'Roboto', sans-serif;
}

body.dark {
    --background-color: #121212;
    --topnav-color: #1a0057;
    --form-color: #1c1c1c;
    --form-shadow-color: #121212;
    --field-color: #515151;
    --foreground-color: #3700b3;
    --foreground-transparent: #3700b340;
    --foreground-hover: #280086;
    --primary-text-color: #f6f6f6;
    --secondary-text-color: #ffffff;
    --header-shadow: #0a0a0a;
    --link-color: #386891;
    --link-visited-color: #915938;
    --error-color: #d50000;

    --table-alternate: #110a20;

    --primary-btn-color: #5537ff;
    --primary-btn-hover-color: #3015c9;
    --primary-btn-active-color: #1901a0;
    --primary-btn-disabled-color: #3f3a59;
    --primary-btn-text-color: #fafafa;

    --danger-btn-color: #d50000;
    --danger-btn-hover-color: #af0000;
    --danger-btn-active-color: #dd4c4c;
    --danger-btn-disabled-color: #4d1414;
    --danger-btn-text-color: #ffffff;

    --success-btn-color: #4aa34a;
    --success-btn-hover-color: #3da33d;
    --success-btn-active-color: #7bbe7b;
    --success-btn-disabled-color: #232e23;
    --success-btn-text-color: #ffffff;
    --success-btn-disabled-text-color: #ffffff;

    background: radial-gradient(circle at center, #202020 0%, #000000 100%);
}

a { color: var(--link-color); }
a:visited { color: var(--link-visited-color); }